html {
	font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Open Sans',sans-serif;
	background: #010101;
	color: #c7c7c7;
}


/* Remove styling on tile text */
a {
  text-decoration: none;
  color: #c7c7c7;
}

h1 {
	text-align:center;
}

.grid-container{
   display: grid;
   grid-template-columns: repeat(auto-fill, 300px);
   grid-column-gap: 2px;
   grid-row-gap: 2px;
}

.grid-item {
  padding: 10px 10px;
  text-align:center;
}

.emby-item {
	height: 400px;
	background: #272727;
	margin: 10px;
}


.media-library {
	width: 100px;
	height: 100px;
}

.poster {
	height: 300px;
	margin-bottom: 5px;
}

.rounded {
	border-radius: 15px;
}

.title {
	text-decoration: none;
	font-size: x-large;
	color: #eeeeee;
}

.fidelity {
	text-decoration: none;
	font-size: smaller;
}

.navbar-button{
	font-size: x-large;
	font-weight: bold;
	display: inline-block;
	background: #c3c3c3;
	border-radius: 10px;
	padding: 15px;
	margin: 15px;
	width: 300px;
	text-align: center;
}

div.navbar > a{
	color:#0c0c0c;
}

.media-info {
	text-align: center;
	font-size: x-large;
}