$snowby-window-color: #030303;
$snowby-text-front: #a7a7a7;
$snowby-text-back: #272727;
$snowby-highlight-intensity: 5%;
$snowby-mild-highlight-front: darken($snowby-text-front, $snowby-highlight-intensity + 50);
$snowby-highlight-front: lighten($snowby-text-front, $snowby-highlight-intensity);
$snowby-highlight-back: lighten($snowby-text-back, $snowby-highlight-intensity);

$snowby-tile-text-size: 26px;
$snowby-highlight-intensity: 30%;
$snowby-tile-frame: linear-gradient(135deg, $snowby-text-back, lighten($snowby-text-back, $snowby-highlight-intensity));
$snowby-tile-frame-highlight: linear-gradient(
    135deg,
    lighten($snowby-text-back, $snowby-highlight-intensity),
    lighten($snowby-text-back, $snowby-highlight-intensity * 2)
);

$snowby-center-grid-row-height: 20vh;

$snowby-navbar-button-width: 12.5vw;
$snowby-navbar-button-height: 6vw;

$snowby-center-dimension-y: 18vh;
$snowby-tall-dimension-x: 10.5vw;
$snowby-tall-dimension-y: 15vw;
$snowby-wide-dimension-x: 10.5vw;
$snowby-wide-dimension-y: 6vw;
$snowby-square-dimension: 12.5vw;
$snowby-text-dimension-x: 15vw;
$snowby-text-dimension-y: 8.5vw;

$snowby-channel-logo-width: 3vw;
$snowby-channel-logo-height: 2vw;

$snowby-roundness: 10px;
$snowby-buffer: 4px;

$snowby-badge-space: 5px;

$snowby-color-best: #50c100;
$snowby-color-better: #50c1c1;
$snowby-color-good: #5050c1;
$snowby-color-neutral: #a1a1a1;
$snowby-color-bad: #c1c150;
$snowby-color-worse: #d18150;
$snowby-color-worst: #c15050;

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        'Open Sans', sans-serif;
    background: $snowby-window-color;
    color: $snowby-text-front;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Remove styling on tile text */
a {
    text-decoration: none;
    color: $snowby-text-front;
}

h1,
h2 {
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
}

table,
th,
td,
tr {
    border: 1px solid $snowby-mild-highlight-front;
    border-collapse: collapse;
    padding: 5px;
}

select {
    font-size: xx-large;
    color: $snowby-text-front;
    background: $snowby-text-back;
}

table.channel-guide,
th.channel-guide,
td.channel-guide,
tr.channel-guide {
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
    overflow: hidden;
    padding: 2px;
    text-decoration: none;
}

table.channel-guide {
    width: 95vw;
}

.cell-small {
    width: 5vw;
}

.cell-medium{
    width: 10vw;
}

.cell-large {
    width: 30vw;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: $snowby-highlight-back;
}

.channel-logo {
    background: $snowby-tile-frame;
    width: $snowby-channel-logo-width;
    height: $snowby-channel-logo-height;
}

.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.centered {
    text-align: center;
}

.rounded {
    border-radius: $snowby-roundness;
}

.hidden {
    visibility: hidden;
}

.navbar-button {
    background: $snowby-text-back;
    border-radius: $snowby-roundness;
    color: $snowby-text-front;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: $snowby-navbar-button-height;
    margin: $snowby-buffer;
    padding: $snowby-buffer;
    text-align: center;
    width: $snowby-navbar-button-width;
}

.navbar-button:hover {
    background: $snowby-highlight-back;
    color: $snowby-highlight-front;
}

.tab-container {
    border: 1px solid darken($snowby-highlight-front, 50%);
    border-collapse: collapse;
    border-radius: $snowby-roundness;
    padding: 5px;
    width: 80%;
    font-size: 2.5vh;
    font-weight: normal;
}

.tab-button {
    background: $snowby-text-back;
    color: $snowby-text-front;
    font-weight: bold;
    background-color: inherit;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 20px;
    outline: none;
    padding: 14px 16px;
}

.tab-button:hover {
    background: $snowby-highlight-back;
    color: $snowby-highlight-front;
}

.tab-button-active {
    background: $snowby-highlight-back;
    color: $snowby-highlight-front;
}

.highlighted-row {
    background-color: #0d3c0d;
}

.highlighted-warning {
    background-color: #bbbb12;
    color: #010101;
    border-radius: 5px;
}

.query-container {
    width: 95%;
    margin: auto;
}

.query {
    text-align: center;
    width: 100%;
    height: 13vh;
    font-size: 10vh;
    border-radius: $snowby-roundness;
    background-color: $snowby-text-back;
    color: $snowby-text-front;
    border-color: $snowby-highlight-back;
    border-width: 5px;
    border-style: solid;
    padding-left: $snowby-buffer;
}

.bottom-pin-right {
    border-radius: 5px;
    bottom: 10px;
    font-size: larger;
    opacity: 1;
    padding: 10px;
    position: fixed;
    right: 10px;
    text-align: right;
}

.bottom-left-pin {
    border-radius: 5px;
    bottom: 10px;
    font-size: larger;
    left: 10px;
    opacity: 1;
    padding: 10px;
    position: fixed;
    text-align: right;
    z-index: 500;
    background-color: $snowby-text-back;
}

.empty-results {
    text-align: center;
    font-size: 36px;
}

.small-tile-text {
    font-size: 16px !important;
}

.grid {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    background: $snowby-tile-frame;
    border-radius: $snowby-roundness;
    font-size: $snowby-tile-text-size;
    font-weight: bold;
    margin: $snowby-buffer;
    overflow: hidden;
    padding: $snowby-buffer;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-item-title {
    text-align: center;
    font-size: 20px;
}

.grid-item:hover {
    background: $snowby-tile-frame-highlight;
    color: $snowby-highlight-front;
}

.text-grid-item:hover,
.center-grid-item:hover {
    background: $snowby-highlight-back;
    color: $snowby-highlight-front;
    cursor: pointer;
}

.center-grid {
    height: $snowby-center-grid-row-height;
}

.center-grid-item {
    background: $snowby-text-back;
    border-radius: $snowby-roundness;
    font-size: $snowby-tile-text-size;
    font-weight: bold;
    height: $snowby-center-dimension-y;
    line-height: $snowby-center-dimension-y;
    margin: $snowby-buffer;
    overflow: hidden;
    padding-left: $snowby-buffer;
    padding-right: $snowby-buffer;
    padding-top: $snowby-buffer;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20%;
}

.top-spacer-wide {
    margin-top: 20%;
}

.top-spacer-tall {
    margin-top: 10%;
}

.tall-image-mixed {
    height: $snowby-square-dimension * 0.8;
    width: $snowby-square-dimension * 0.6;
}

.wide-image-mixed {
    height: $snowby-square-dimension * 0.6;
    width: $snowby-square-dimension * 0.8;
}

.tall-grid-item {
    height: $snowby-tall-dimension-y;
    width: $snowby-tall-dimension-x;
}

.tall-image {
    height: $snowby-tall-dimension-y;
    width: $snowby-tall-dimension-x;
}

.wide-grid-item {
    height: $snowby-wide-dimension-y;
    width: $snowby-wide-dimension-x;
}

.wide-image {
    height: $snowby-wide-dimension-y;
    width: $snowby-wide-dimension-x;
}

.square-grid-item {
    height: $snowby-square-dimension;
    width: $snowby-square-dimension;
}

.square-image {
    width: $snowby-square-dimension;
    height: $snowby-square-dimension;
}

.text-grid-item {
    background-color: $snowby-text-back;
    background: $snowby-text-back;
    color: $snowby-text-front;
    line-height: $snowby-text-dimension-y;
    height: $snowby-text-dimension-y;
    width: $snowby-text-dimension-x;
    font-size: 20px;
}

.badge-container {
    position: relative;
    z-index: 500;
}

.badge-legend {
    font-weight: bold;
    font-size: 26px;
}

.badge {
    border-radius: 5px;
    font-size: 14px;
    margin: 3px;
    min-width: 14px;
    opacity: 0.9;
    padding: 2px;
    position: absolute;
}

.badge-top-right {
    right: $snowby-badge-space;
    top: $snowby-badge-space;
}

.badge-bottom-left {
    left: $snowby-badge-space;
    bottom: $snowby-badge-space;
}

.badge-bottom-right {
    right: $snowby-badge-space;
    bottom: $snowby-badge-space;
}

.badge-top-left {
    left: $snowby-badge-space;
    top: $snowby-badge-space;
}

.badge-worst {
    background-color: $snowby-color-worst;
    color: darken($snowby-color-worst, 40%);
}

.badge-worse {
    background-color: $snowby-color-worse;
    color: darken($snowby-color-worse, 40%);
}

.badge-bad {
    background-color: $snowby-color-bad;
    color: darken($snowby-color-bad, 40%);
}

.badge-neutral {
    background-color: $snowby-color-neutral;
    color: darken($snowby-color-neutral, 40%);
}

.badge-good {
    background-color: $snowby-color-good;
    color: darken($snowby-color-good, 40%);
}

.badge-better {
    background-color: $snowby-color-better;
    color: darken($snowby-color-better, 40%);
}

.badge-best {
    background-color: $snowby-color-best;
    color: darken($snowby-color-best, 40%);
}

.snowby-tooltip {
    font-size: $snowby-tile-text-size;
    padding: $snowby-buffer;
}

.cast-photo {
    width: 100px;
    height: 150px;
    margin: 5px;
}


.admin-list-item {
    border: 1px solid grey;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}

.admin-list-item-selected {
    border: 1px solid yellow;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}

.admin-button {
    width: 80%;
    height: 40px;
}

.program-subtitle {
    font-size: 16px;
    color: darken($snowby-text-front, 20);
}

/*tippy.js */
.tippy-tooltip[data-animation='fade'][data-state='hidden'] {
    opacity: 0;
}
.tippy-iOS {
    cursor: pointer !important;
    -webkit-tap-highlight-color: transparent;
}
.tippy-popper {
    pointer-events: none;
    max-width: calc(100vw - 10px);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: transform;
}
.tippy-tooltip {
    position: relative;
    color: $snowby-text-front;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    background-color: $snowby-text-back;
    transition-property: visibility, opacity, transform;
    outline: 0;
}
.tippy-tooltip[data-placement^='top'] > .tippy-arrow {
    border-width: 8px 8px 0;
    border-top-color: $snowby-text-back;
    margin: 0 3px;
    transform-origin: 50% 0;
    bottom: -7px;
}
.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow {
    border-width: 0 8px 8px;
    border-bottom-color: $snowby-text-back;
    margin: 0 3px;
    transform-origin: 50% 7px;
    top: -7px;
}
.tippy-tooltip[data-placement^='left'] > .tippy-arrow {
    border-width: 8px 0 8px 8px;
    border-left-color: $snowby-text-back;
    margin: 3px 0;
    transform-origin: 0 50%;
    right: -7px;
}
.tippy-tooltip[data-placement^='right'] > .tippy-arrow {
    border-width: 8px 8px 8px 0;
    border-right-color: $snowby-text-back;
    margin: 3px 0;
    transform-origin: 7px 50%;
    left: -7px;
}
.tippy-tooltip[data-interactive][data-state='visible'] {
    pointer-events: auto;
}
.tippy-tooltip[data-inertia][data-state='visible'] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
    position: absolute;
    border-color: transparent;
    border-style: solid;
}
.tippy-content {
    padding: 5px 9px;
}