html {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background: #010101;
    color: #c7c7c7;
}

/* Remove styling on tile text */
a {
    text-decoration: none;
    color: #b8b8b8;
}

h1,
h2 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16vw);
    grid-column-gap: 0.2vw;
    grid-row-gap: 0.2vw;
}

.grid-item {
    padding-top: 0.5vw;
    text-align: center;
}

.grid-item:hover,
.navbar-button:hover {
    color: #7777c7;
}

.grid-item:active,
.navbar-button:active {
    color: #77c777;
}

.grid-card-vertical {
    background: #272727;
    height: 19vw;
    margin: 0.1vw;
}

.poster-vertical {
    height: 15vw;
    max-width: 15vw;
    margin: auto;
}

.grid-card-horizontal {
    height: 11vw;
    background: #272727;
    margin: 0.2vw;
}

.poster-horizontal {
    height: 7vw;
    width: 15vw;
    text-align: center;
    margin: auto;
}

.title {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1vw;
    padding-right: 1vw;
}

.big-title {
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    line-height: 11vw;
}

.fidelity {
    text-decoration: none;
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rounded {
    border-radius: 10px;
}

.navbar-button {
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
    background: #c3c3c3;
    border-radius: 10px;
    padding: 0.2vw;
    margin: 0.2vw;
    width: 16vw;
    text-align: center;
    line-height: 3vw;
}

div.navbar > a {
    color: #0c0c0c;
}

.media-info table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.tile-vertical {
    max-width: 100%;
    max-height: 100%;
    background-color: #272727;
}

.tile-horizontal {
    width: 13vw;
    height: 7vw;
    background-color: #272727;
}

.query {
    width: 95%;
    height: 4vw;
    font-size: 26px;
    border-radius: 10px;
    background-color: #424242;
    color: #e8e0e0;
    border-color: #615f5f;
    border-width: 5px;
    border-style: solid;
    padding-left: 0.5vw;
}

.bottom-pin {
    position: fixed;
    bottom: 0%;
    background-color: #393838;
    opacity: 1;
    border-radius: 5px;
    padding: 1vw;
    font-size: larger;
    text-align: right;
    margin-left: 5px;
    margin-bottom: 10px;
}

.highlighted-row {
    background-color: #0d3c0d;
}

select {
    font-size: xx-large;
    color: #0c0c0c;
    background: #c3c3c3;
}
